# Maven/Gradle/Java junk
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Python LLM microservice artifacts
llm-service/__pycache__/
llm-service/.env
llm-service/venv/

# IDE-specific files
.idea/
*.iml
*.ipr
*.iws

# STS/Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# VSCode
.vscode/

# Logs
*.log
